{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h3 class="m-3">Попытки</h3>
</div>
<div class="container p-3 border border-primary-subtle text-info-emphasis">
    <table class="table table-striped">
        {% for attempt in attempts %}
        <tr>
            <td class="w-25"><b>Дата попытки: {{ attempt.attempt_date }}</b></td>
            <td class="w-25">Статус: {{ attempt.attempt_status }}</td>
            <td class="w-25">Ответ сервера: {{ attempt.mail_server_response }}
            <td class="w-25"><b>Получатели: </b>
                {% for recipient in attempt.mailing.recipient.all %}
                {{ recipient.fullname|truncatechars:15 }}
                {% if not forloop.last %}, {% endif %}
                {% empty %}
                Нет получателей
                {% endfor %}
            </td>
            <td class="w-25">
                <div class="btn-group">
                    <a class="btn btn-danger" href="{% url 'mailing:delete_attempt' attempt.pk %}"
                       role="button">Удалить</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}