{% extends 'base.html' %}

{% block content %}

<div class="container">
    <a href="{% url 'mailing:add_mailing' %}">
        <button type="button" class="btn btn-warning text-center m-3">Новая рассылка</button>
    </a>
</div>
<div class="container p-3 border border-primary-subtle text-info-emphasis">
    <table class="table table-striped">
        {% for mailing in user_mailings %}
        <tr>
            <td class="w-25"><b>Создана: </b>{{ mailing.created_at }}</td>
            <td class="w-25"><b>Статус: </b>{{ mailing.status }}</td>
            <td class="w-25"><b>Сообщение: </b>{{ mailing.message|truncatechars:50 }}</td>
            <td class="w-25"><b>Получатели: </b>
                {% for recipient in mailing.recipients.all %}
                    {{ recipient.fullname|truncatechars:15 }}
                    {% if not forloop.last %}, {% endif %}
                {% empty %}
                    Нет получателей
                {% endfor %}
            </td>
            <td class="w-25">
                <div class="btn-group">
                    <a class="btn btn-primary mx-2" href="{% url 'mailing:detail_mailing' mailing.pk %}"
                       role="button">Подробнее
                    </a>
                    <a class="btn btn-primary mx-2" href="{% url 'mailing:send_mailing' mailing.pk %}"
                       role="button">Отправить
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}