{% extends 'mailing/base.html' %}
{% load my_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Спасибо, что были с нами!</h2>
            <form action="{% url 'users:logout' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <a class="btn btn-primary" href="{% url 'users:login' %}" role="button">Войти снова</a>
                <a href="{% url 'mailing:mailing' %}" class="btn btn-secondary">На главную</a>
            </form>
        </div>
    </div>
</div>
{% endblock%}