{% extends 'base.html' %}
{% load my_tags %}

{% block content %}

<div class="container">
    <h3 class="m-3">Пользователи</h3>
</div>
<div class="container p-3 border border-primary-subtle text-info-emphasis">
    <table class="table table-striped">
        {% for user in users %}
        <tr>
            <td class="w-25"><img src="{{ user.avatar | media_filter }}" style="width: 50px"></td>
            <td class="w-25"><b>Username: {{ user.username }} </b></td>
            <td class="w-25">email: {{ user.email }}</td>
            <td class="w-25">Номер телефона: {{ user.phone_number }}</td>
            <td class="w-25">Страна: {{ user.country }}</td>
            <td class="w-25">
                <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'users:view_profile' user.pk %}"
                       role="button">Подробнее</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}